name: Samba Container Image CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  schedule:
    - cron: '0 2 * * *'
  # Allow manually triggering a run in the github ui.
  # See: https://docs.github.com/en/actions/using-workflows/manually-running-a-workflow
  workflow_dispatch: {}

env:
  CONTAINER_CMD: podman
jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      # We need a newer version of shellcheck to avoid problems with the
      # relative imports. Our scripts work on v0.7.2 and up but not the
      # v0.7.0 preinstalled in the ubutnu image. We can force a local
      # install by expliclity setting SHELLCHECK to `$ALT_BIN/shellcheck`
      - name: Run static check tools
        run: make check SHELLCHECK=$PWD/.bin/shellcheck

  check-commits:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Ensure branches
        run: git fetch
      - name: Lint git commit messages
        run: make check-gitlint

  build-server:
    # Reminder: the nightly-server images consume nightly samba rpm builds
    # it is not *just* an image that gets built nightly
    strategy:
      matrix:
        package_source: [default, nightly]
        os: [centos, fedora, opensuse]
        arch: [amd64, arm64]
        exclude:
          # there are no nightly packages for opensuse
          - package_source: nightly
            os: opensuse
          - os: centos
            arch: arm64
        include:
          - package_source: devbuilds
            os: centos
            arch: amd64
          - package_source: ceph20
            os: centos
            arch: amd64
    runs-on: ubuntu-latest
    env:
      BUILDAH_FORMAT: oci
      IMG_TAG: ${{ matrix.package_source }}-${{ matrix.os }}-${{ matrix.arch }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: Build the server image
        run: make KIND=server PACKAGE_SOURCE=${{ matrix.package_source }} OS_NAME=${{ matrix.os}} BUILD_ARCH=${{ matrix.arch}} build-image
      - name: Save image
        run: >
          ${{ env.CONTAINER_CMD }} save
          -o samba-server_${{ env.IMG_TAG }}
          samba-server:${{ env.IMG_TAG }}
      - name: Upload server image
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        with:
          name: action_image_artifact_samba-server_${{ env.IMG_TAG }}
          path: samba-server_${{ env.IMG_TAG }}
          retention-days: 1

  build-ad-server:
    strategy:
      matrix:
        package_source: [default, nightly]
        os: [centos, fedora, opensuse]
        arch: [amd64, arm64]
        exclude:
          # there are no nightly packages for opensuse
          - package_source: nightly
            os: opensuse
          # the distro packages for centos do not include an ad-dc
          - package_source: default
            os: centos
          - os: centos
            arch: arm64
    runs-on: ubuntu-latest
    env:
      BUILDAH_FORMAT: oci
      IMG_TAG: ${{ matrix.package_source }}-${{ matrix.os }}-${{ matrix.arch }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: Build the ad server image
        run: make KIND=ad-server PACKAGE_SOURCE=${{ matrix.package_source }} OS_NAME=${{ matrix.os }} BUILD_ARCH=${{ matrix.arch }} build-image
      - name: Save image
        run: >
          ${{ env.CONTAINER_CMD }} save
          -o samba-ad-server_${{ env.IMG_TAG }}
          samba-ad-server:${{ env.IMG_TAG }}
      - name: Upload ad server image
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        with:
          name: action_image_artifact_samba-ad-server_${{ env.IMG_TAG }}
          path: samba-ad-server_${{ env.IMG_TAG }}
          retention-days: 1

  build-client:
    strategy:
      matrix:
        os: [centos, fedora, opensuse]
        arch: [amd64, arm64]
        exclude:
          - os: centos
            arch: arm64
    runs-on: ubuntu-latest
    env:
      BUILDAH_FORMAT: oci
      IMG_TAG: default-${{ matrix.os }}-${{ matrix.arch }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: build the client image
        run: make KIND=client OS_NAME=${{ matrix.os }} BUILD_ARCH=${{ matrix.arch }} build-image
      # The client image is used as a base for the samba-toolbox build process.
      - name: Save image
        run: >
          ${{ env.CONTAINER_CMD }} save
          -o samba-client_${{ env.IMG_TAG }}
          samba-client:${{ env.IMG_TAG }}
      - name: Upload the client image
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        with:
          name: action_image_artifact_samba-client_${{ env.IMG_TAG }}
          path: samba-client_${{ env.IMG_TAG }}
          retention-days: 1

  build-toolbox:
    strategy:
      matrix:
        os: [centos, fedora, opensuse]
        arch: [amd64]
    needs: build-client
    runs-on: ubuntu-latest
    env:
      BUILDAH_FORMAT: oci
      IMG_TAG: default-${{ matrix.os }}-${{ matrix.arch }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      # Download locally stored samba-client image to be used as base for building
      # samba-toolbox.
      - name: Download client image
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131
        with:
          name: "action_image_artifact_samba-client_${{ env.IMG_TAG }}"
      - name: Load client image
        run: |
          ${{ env.CONTAINER_CMD }} image load -i "samba-client_${{ env.IMG_TAG }}"
      # Workaround: retag the image so that the FQIN image matches the name in
      # the toolbox containerfiles.
      - name: Apply OS-latest tag to image (for centos)
        run: ${{ env.CONTAINER_CMD }} tag samba-client:${{ env.IMG_TAG }} quay.io/samba.org/samba-client:${{ matrix.os }}-latest
      - name: Apply latest tag to image (for fedora)
        run: ${{ env.CONTAINER_CMD }} tag samba-client:${{ env.IMG_TAG }} quay.io/samba.org/samba-client:latest
      - name: Build the toolbox image
        run: make KIND=toolbox OS_NAME=${{ matrix.os }}  BUILD_ARCH=${{ matrix.arch }} build-image
      # Upload the toolbox image for reference and/or image push
      - name: Save image
        run: >
          ${{ env.CONTAINER_CMD }} save
          -o samba-toolbox_${{ env.IMG_TAG }}
          samba-toolbox:${{ env.IMG_TAG }}
      - name: Upload the toolbox image
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        with:
          name: action_image_artifact_samba-toolbox_${{ env.IMG_TAG }}
          path: samba-toolbox_${{ env.IMG_TAG }}
          retention-days: 1

  test-server:
    strategy:
      matrix:
        package_source: [default, nightly]
        os: [centos, fedora, opensuse]
        arch: [amd64]
        exclude:
          # there are no nightly packages for opensuse
          - package_source: nightly
            os: opensuse
        include:
          - package_source: devbuilds
            os: centos
            arch: amd64
          - package_source: ceph20
            os: centos
            arch: amd64
    needs: build-server
    runs-on: ubuntu-latest
    env:
      BUILDAH_FORMAT: oci
      IMG_TAG: ${{ matrix.package_source }}-${{ matrix.os }}-${{ matrix.arch }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: Download server image
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131
        with:
          name: "action_image_artifact_samba-server_${{ env.IMG_TAG }}"
      - name: Load server image
        run: |
          ${{ env.CONTAINER_CMD }} image load -i "samba-server_${{ env.IMG_TAG }}"
      - name: Test the server image
        run: LOCAL_TAG=samba-server:${{ env.IMG_TAG }} tests/test-samba-container.sh

  test-ad-server-kubernetes:
    strategy:
      matrix:
        package_source: [default, nightly]
        os: [centos, fedora, opensuse]
        arch: [amd64]
        exclude:
          # there are no nightly packages for opensuse
          - package_source: nightly
            os: opensuse
          # the distro packages for centos do not include an ad-dc
          - package_source: default
            os: centos
    needs:
      - build-ad-server
      - build-server
    runs-on: ubuntu-latest
    env:
      BUILDAH_FORMAT: oci
      IMG_TAG: ${{ matrix.package_source }}-${{ matrix.os }}-${{ matrix.arch }}
      CONTAINER_CMD: docker  # this k3d tool requires docker
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - uses: nolar/setup-k3d-k3s@293b8e5822a20bc0d5bcdd4826f1a665e72aba96
      - name: get nodes
        run: kubectl get nodes
      - name: Download ad server image
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131
        with:
          name: "action_image_artifact_samba-ad-server_${{ env.IMG_TAG }}"
      - name: Load ad server image
        run: |
          ${{ env.CONTAINER_CMD }} image load -i "samba-ad-server_${{ env.IMG_TAG }}"
          ${{ env.CONTAINER_CMD }} image tag "localhost/samba-ad-server:${{ env.IMG_TAG }}" "samba-ad-server:${{ env.IMG_TAG }}" || true
      - name: Download file server image
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131
        with:
          name: "action_image_artifact_samba-server_${{ env.IMG_TAG }}"
      - name: Load file server image
        run: |
          ${{ env.CONTAINER_CMD }} image load -i "samba-server_${{ env.IMG_TAG }}"
          ${{ env.CONTAINER_CMD }} image tag "localhost/samba-server:${{ env.IMG_TAG }}" "samba-server:${{ env.IMG_TAG }}" || true
      - name: Display images
        run: ${{ env.CONTAINER_CMD }} images
      - name: import images to k3d
        run: k3d image import samba-server:${{ env.IMG_TAG }} samba-ad-server:${{ env.IMG_TAG }}
      - name: run the ad-dc deployment test
        run: ./tests/test-samba-ad-server-kubernetes.sh

  push:
    # verify it passes the test jobs first
    needs:
      - build-client
      - build-toolbox
      - test-server
      - test-ad-server-kubernetes
    runs-on: ubuntu-latest
    env:
      REPO_BASE: quay.io/samba.org
    # NOTE: the fromJSON below is needed beause the syntax github uses
    # doesn't actually understand JS/JSON style arrays (inline). When I left it
    # out I just got an error. It is present in their example(s).
    if: >
      contains(fromJSON('["push", "schedule", "workflow_dispatch"]'), github.event_name)
      && github.repository == 'samba-in-kubernetes/samba-container'
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: log in to quay.io
        run: ${CONTAINER_CMD} login -u "${{ secrets.QUAY_USER }}" -p "${{ secrets.QUAY_PASS }}" quay.io
      # pull in already built images we plan on pushing
      - name: Download images
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131
        with:
          pattern: "action_image_artifact_samba-*"
          path: image_files
      - name: Load all images
        run: |
          for img in $(find image_files -type f) ; do
            ${{ env.CONTAINER_CMD }} image load -i "$img"
            rm -f "$img" # free space on runner limited disk
          done
      # reapply missing tags
      - name: Retag images
        run: >
          ./hack/build-image
          --retag
          --container-engine=${CONTAINER_CMD}
          --repo-base=${REPO_BASE}
          --no-distro-qualified
          -i samba-server:default-fedora-amd64
          -i samba-server:default-fedora-arm64
          -i samba-server:default-opensuse-arm64
          -i samba-server:nightly-fedora-amd64
          -i samba-server:nightly-fedora-arm64
          -i samba-server:nightly-centos-amd64
          -i samba-server:devbuilds-centos-amd64
          -i samba-server:ceph20-centos-amd64
          -i samba-ad-server:default-fedora-amd64
          -i samba-ad-server:default-fedora-arm64
          -i samba-ad-server:default-opensuse-arm64
          -i samba-ad-server:nightly-fedora-amd64
          -i samba-ad-server:nightly-fedora-arm64
          -i samba-client:default-fedora-amd64
          -i samba-client:default-fedora-arm64
          -i samba-client:default-opensuse-arm64
          -i samba-toolbox:default-fedora-amd64
      - name: List images prior to pushing (debug)
        run: |
          ${{ env.CONTAINER_CMD }} images
      - name: Push images
        run: >
          ./hack/build-image
          --push
          --container-engine=${CONTAINER_CMD}
          --verbose
          --push-state=exists
          --push-selected-tags=mixed
          -i ${REPO_BASE}/samba-server:default-fedora-amd64
          -i ${REPO_BASE}/samba-server:default-fedora-arm64
          -i ${REPO_BASE}/samba-server:default-opensuse-arm64
          -i ${REPO_BASE}/samba-server:nightly-fedora-amd64
          -i ${REPO_BASE}/samba-server:nightly-centos-amd64
          -i ${REPO_BASE}/samba-server:devbuilds-centos-amd64
          -i ${REPO_BASE}/samba-server:ceph20-centos-amd64
          -i ${REPO_BASE}/samba-ad-server:default-fedora-amd64
          -i ${REPO_BASE}/samba-ad-server:default-fedora-arm64
          -i ${REPO_BASE}/samba-ad-server:default-opensuse-arm64
          -i ${REPO_BASE}/samba-ad-server:nightly-fedora-amd64
          -i ${REPO_BASE}/samba-client:default-fedora-amd64
          -i ${REPO_BASE}/samba-client:default-fedora-arm64
          -i ${REPO_BASE}/samba-client:default-opensuse-arm64
          -i ${REPO_BASE}/samba-toolbox:default-fedora-amd64
